{% extends "base.html" %}

{% block css_links %}
<link rel="stylesheet" href="static/css/home_styling.css">
<link rel="stylesheet" href="static/css/header_footer_styling.css">
{% endblock %}

{% block content %}
<main class="home">
	<p>
		"The ignorance of one voter in a democracy impairs the security of all. - John F. Kennedy"
	</p>

	<div class="homeContainer">
		<table align="center">
			<tr>
				<td width="33%">
					<div class="homeBlogs" id="1">
						<img src="static/images/past_result.jpg" style="width: 100%" alt="past result image not found">
						<hr>
						<div class="news_block">
							<h2><a href="#" target="_blank">Past Results</a></h2>
						</div>
					</div>
				</td>

				<td width="33%">
					<div class="homeBlogs" id="2">
						<img src="static/images/vote_now.jpg" alt="vote now image not found" style="width: 100%">
						<hr>
						<div class="news_block">
							<h2><a href="#" target="_blank">Vote Now !!!</a></h2>
						</div>
					</div>
				</td>

				<td width="33%">
					<div class="homeBlogs" id="3">
						<img src="static/images/future_events.jpg" alt="future events image not found" style="width: 100%">
						<hr>
						<div class="news_block">
							<h2><a href="#" target="_blank">Future Events</a></h2>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</main>
{% endblock %}