<!DOCTYPE html>
<!-- This website was created by: Aayush Rishi, Dhimant Godhani, Vaibhav Hooda and Vishal Kumar. 03rd June, 2021 -->
<html lang="en">

<head>
	<link rel="stylesheet" href="static/css/home_styling.css">
	<link rel="stylesheet" href="static/css/header_footer_styling.css">
	<title>E-Voting</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

	<header>
		<div class="topnav">
			<a class="mobilelogo" href="#"><img src="static/images/ev.png" alt="Logo not found" class="logo-image"></a>
			<a href="#">Login</a>
			<a class="dasktoplogo" href="#"><img src="static/images/ev.png" alt="Logo not found" class="logo-image"></a>
			<a href="#">Register</a>
		</div>
    </header>
	
	<main class="home">
		<p>
			"The ignorance of one voter in a democracy impairs the security of all. - John F. Kennedy"
		</p>

		<div class="homeContainer">
			<table align="center">
				<tr>
					<td width="33%">
						<div class="homeBlogs" id="1">
							<img src="static/images/past_result.jpg" style="width: 100%" alt="past result image not found">
							<hr>
							<div class="news_block">
								<h2><a href="#" target="_blank">Past Results</a></h2>
							</div>
						</div>
					</td>

					<td width="33%">
						<div class="homeBlogs" id="2">
							<img src="static/images/vote_now.jpg" alt="vote now image not found" style="width: 100%">
							<hr>
							<div class="news_block">
								<h2><a href="#" target="_blank">Vote Now !!!</a></h2>
							</div>
						</div>
					</td>

					<td width="33%">
						<div class="homeBlogs" id="3">
							<img src="static/images/future_events.jpg" alt="future events image not found" style="width: 100%">
							<hr>
							<div class="news_block">
								<h2><a href="#" target="_blank">Future Events</a></h2>
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>

	</main>
	
	<footer class="footer-distributed">
		<div class="footer-left">
			<img src="static/images/ev.png" alt="ev image not found">
			<h3>About<span> E-Voting</span></h3>

			<p class="footer-links">
				<a href="#">Home</a>
				|
				<a href="#">Login</a>
				|
				<a href="#">Register</a>
				|
				<a href="#">Contact</a>
			</p>

			<p class="footer-company-name">© 2021 E - Voting.</p>
		</div>

		<div class="footer-center">
			<div>
				<p><span>1457 London Road</span>
				Toronto, Canada - 11111</p>
			</div>
			
			<div>
				<p>+91 22-27782183</p>
			</div>
			
			<div>
				<p><a href="mailto:support@evoting.com">support@evoting.com</a></p>
			</div>
		</div>
		
		<div class="footer-right">
			<p class="footer-company-about">
			<span>About the website</span>
			We offer voting services which enables students of the university to vote for their president.</p>
			<div class="footer-icons">
				<a href="#"><img src="static/images/fb.png" alt="fb image not found"></a>
				<a href="#"><img src="static/images/insta.png" alt="insta image not found"></a>
				<a href="#"><img src="static/images/linkedin.png" alt="linkedin image not found"></a>
			</div>
		</div>
		</footer>

</body>

</html>