{% extends "base.html" %}

{% block css_links %}
<link rel="stylesheet" href="static/css/login_styling.css">
<link rel="stylesheet" href="static/css/header_footer_styling.css">
{% endblock %}

{% block content %}
<main class="home">
	{% if msg  %}
    <div class="alert alert-secondary" role="alert">
        <p class="msg">{{ msg }}</p>
    </div>
{% endif %}
	<div class="login_form">
		<form name="login" action="/login" method="post">
			<h3>Log In</h3>
			<label for="username"><b>UserName</b></label>
			<input class="inputTextbox" type="text" placeholder="Enter Username" name="username" required><br><br>
			<label for="password"><b>Password</b></label>
			<input class="inputTextbox" type="password" placeholder="Enter Password" name="password" required><br><br>
			<button class="login_btn" type="submit">Login</button>
		</form>
	</div>
</main>
{% endblock %}