/* Style sheet created by: Aayush Rishi, Dhimant Godhani, Vaibhav Hooda and Vishal Kumar. 03rd June, 2021 */
body {
  background-image: url("home_back.png");
}
.login_form{
    width: 80%;
	margin-top: 50px;
	border-style: outset;
	padding: 20px 10px 20px 10px;
	border-radius: 5%;
	text-align: center !important;
	margin-left: 10%;
	margin-right: 10%;
}
.inputTextbox{
	width: 50%;
    height: 30px;
}

.login_btn{
	width: 10%;
    height: 30px;
}

.msg{
    text-align: center !important;
    color: orange;
}
