/* Style sheet created by: Aayush Rishi, Dhimant Godhani, Vaibhav Hooda and Vishal Kumar. 03rd June, 2021 */
body {
  background-image: url("home_back.png");
}
.registration_form{
    width: 80%;
	margin-top: 50px;
	border-style: outset;
	padding: 20px 10px 20px 10px;
	border-radius: 5%;
	text-align: center !important;
	margin-left: 10%;
	margin-right: 10%;
	color: cyan;
}
.inputTextbox{
	width: 50%;
    height: 30px;
}

.name_label{
    padding: 2%;
}

.password_label{
    padding: 2.3%;
}

.msg{
    text-align: center !important;
    color: orange;
}

.age_label{
    padding: 4%;
}

.radio_label{
    color: black !important;
}

.register_btn{
	width: 10%;
    height: 30px;
}

.candidate_btn{
	width: 30%;
    height: 30px;
}